{{#if tasks.length}}
<section>
    <div class="row align-items-center">
        <h2>Hello, {{username}}!</h2>
        <p>Please click on the task title to edit it!</p>
    </div>
    <br>
    {{#each tasks as |task|}}
    <input type="hidden" name="task-id" value="{{task.id}}"/>
        <div class="card">
            <div class="card-header">
                <h4><a class="link" href="/dashboard/edit/{{id}}">{{title}}</a></h4>
            </div>  
            <button class="btn btn-danger" id="del-task-btn"><i class="bi bi-trash"></i>Delete task</button>                          
        </div>
    {{/each}}
    
</section>
{{/if}}
<button type="submit" class="btn"><a href="/dashboard/new"><i class="bi bi-plus-square"></i>Add New task</a></button>

<script src="js/deletetask.js"></script>