<body>
    <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <button class="no-button" id="logout"><a href="http://localhost:3000">logout</a></button>
        {{else}}
      <div class="flex-container">
        <button class="main-button"><a href="http://localhost:3000/login">login</a></button> 
        <button class="main-button"><a href="http://localhost:3000/signup">signup</a></button>
      </div>
        {{/if}}
    </nav>
</headers>
<div class="flex-container">
    <div class="logo">
      <h1>Octo Task Cruncher</h1>
      <div id="banner"></div>
    </div>
</div>
<div>
    <h3>
        Crush your To-Do list with the <span id="octotask">Octo Task Cruncher!</span> 
    </h3>
    <h4>
        Please <span>sign up</span> or <span>login</span> to continue    
    </h4>
</div>
<div class="wrapper">
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
</div>
</body>
</html>