<div class="card">
    <h2 class="card-header">Add New Task</h2>

<form class="card-body" id="newpost-form">

    <div class="mb-6">
        <label class="form-label">Task Name</label>
        <textarea class="form-textarea form-input" name="task-title"></textarea>
    </div>

    <div class="form-group">
        <label for="task-desc">Additional notes: </label>
        <textarea class="form-input" id="task-description" name="task-description"></textarea>
    </div>

    <div class="mb-6">
        <button type="submit" class="btn btn-primary" id="newtask"><i class="bi bi-plus-square"></i> Add Task</button>
    </div>

</form>
</div>
<script src="/js/newtask.js"></script>