<div class="card">
    <h2 class="card-header">Add New Task</h2>

<!-- Form to create a new task -->
<form class="card-body" id="newpost-form">
    <!-- Task name input -->
    <div class="mb-6">
        <label class="form-label">Task Name</label>
        <textarea class="form-textarea form-input" name="task-title"></textarea>
    </div>
<!-- Task description/notes input -->
    <div class="form-group">
        <label for="task-desc">Additional notes: </label>
        <textarea class="form-input" id="task-description" name="task-description"></textarea>
    </div>
<!-- Task progress status select input -->
    <div class="mb-6">
        <button type="submit" class="btn btn-primary" id="newtask" form="newtask-form"><i class="bi bi-plus-square"></i> Add Task</button>
    </div>
</form>
</div>
<!-- JS script with newtask form handler logic-->
<script src="/js/newtask.js"></script>