<div class="row">
    <h2>Enter a username and password to sign up</h2>
<div class="container">
<div class="form-container">    
<form class="form" id="signup-form">
    <div class="form-group">
        <label for="username" class="form-label"><span>username: </span></label>
        <input placeholder="Enter username" type="username" class="form-control" id="username-signup">
    </div>
    <br> 
    <div class="form-group">
        <label for="password" class="form-label"><span>password:</span></label>
        <input placeholder="Enter password" type="password" class="form-control" id="password-signup">
    </div>
    <div id="passwordHelp" class="form-text">Password must be at least 8 digits long.</div>
</form>
<div class="form-group">
    <button type="submit" class="btn btn-primary" id="signup">Sign Up</button>
</div>
</div>
</div>
</div>
<br> 
<div>
    <a href="/login" id="login-link"><span>Already have an account? Login here</span></a>
</div>

<script src="js/signup.js"></script>